
<div class = "container">

  <div class="box col-md-6 col-lg-4 left" [ngClass]="routeElement" >
    <div >
      <h3 class="title">Element 1</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>

  <div class="box col-md-6 col-lg-4 center" [ngClass]="routeElement" >
    <div>
      <h3 class="title">Element 2</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>

  <div class="box col-md-6 col-lg-4 right" [ngClass]="routeElement" >
    <div>
      <h3 class="title">Element 3</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>

  <div class="box col-md-6 col-lg-4 left" [ngClass]="routeElement" >
    <div >
      <h3 class="title">Element 4</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>

  <div class="box col-md-6 col-lg-4 center" [ngClass]="routeElement" >
    <div >
      <h3 class="title">Element 5</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>

  <div class="box col-md-6 col-lg-4 right" [ngClass]="routeElement" >
    <div >
      <h3 class="title">Element 6</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>
  <div>
