
html {
  margin: 0px;
  height: 100%;
  width: 300px;
  overflow:hidden;
}

body {
  margin: 0px;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
  text-align: center;
  color: #039be5;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #121572;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

nav {
  text-align: center;
}

a {
  margin-right: 5px;
  margin-left: 5px;
}

.head{
  overflow: hidden;
}


.buttonStyle{
  color: #e8fbff;
  background-color: #184adc;
  text-align: center;
  font-size: 0.8em;
  margin-left: 1%;
  margin-right: 1%;
}

.microButtonStyle{
  color: #d9d7e5;
  text-decoration: none;
  display: block;
  width: 130px;
}

.anim_box{
  position: fixed;
  padding-left: 1%;
  bottom: 0px;
  width: 150px;
  text-align: center;
  background-color: #1b73af;
}

.animBoxTitle{
  background-color: #1b73af;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-style: italic;
  border: none;
  float: left;
}


.activeAnimation{
  color: #e8fbff;
  background-color: #0f2753;
  font-size: 1em;
  position: fixed;
  top: 2%;
  height: 50px;
  width: 300px;
  text-align: center;
  border-radius: 4px;
}

.dropContent{
  display: none;
  position: relative;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #e9ebf5;
  font-size: 1em;
  height: 10%;
}


.dropContent a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.anim_box:hover .dropContent {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.anim_box:hover .microButtonStyle {background-color: #1e42b5;}
