<body>
<div class="head" >
  <h1>Animations Tester</h1>
  <nav>
    <a id="home" routerLink="/home" routerLinkActive="active">Home</a>
    <a id="about" routerLink="/about" routerLinkActive="active">About</a>
    <a id="features" routerLink="/features" routerLinkActive="active">Features</a>
    <a id="pageExample" routerLink="/page-example" routerLinkActive="active">Page</a>

  </nav>
</div>

<div class = 'activeAnimation'>
  <p> Animation active: {{animationString}} </p>
</div>

<div class="outlet">
<div *ngComponentOutlet="animationSelected">

</div>
</div>

<div class="anim_box">
  <button class="animBoxTitle">Slide</button>
  <div class="dropContent">
  <button class="microButtonStyle" (click)="assignComponent('slideHighTop')">
    Top / High
  </button>
  <button class="microButtonStyle" (click)="assignComponent('slideHighBottom')">
    Bottom / High
  </button>
    <button class="microButtonStyle" (click)="assignComponent('slideMediumBottom')">
      Bottom / Medium
    </button>
    <button class="microButtonStyle" (click)="assignComponent('slideMediumTop')">
      Top / Medium
    </button>
    <button class="microButtonStyle" (click)="assignComponent('slideLowBottom')">
      Bottom / Low
    </button>
  <button class="microButtonStyle" (click)="assignComponent('slideLowTop')">
    Top / Low
  </button>
  </div>
</div>




</body>

