<body>
<div class="head" >
  <h1>Animations Tester</h1>
  <nav>
    <a id="home" routerLink="/home" routerLinkActive="active">Home</a>
    <a id="about" routerLink="/about" routerLinkActive="active">About</a>
    <a id="features" routerLink="/features" routerLinkActive="active">Features</a>
    <a id="pageExample" routerLink="/page-example" routerLinkActive="active">Page</a>

  </nav>
</div>

<div class = 'activeAnimation'>
  <p> Animation active: {{animationString}} </p>
</div>

<div class="outlet">
<div *ngComponentOutlet="animationSelected">

</div>
</div>

<div class = 'animation_selector' >
  <button class="buttonStyle" (click)="assignComponent('slideBottom')">
    Slide Bottom
  </button>
  <button class="buttonStyle"  (click)="assignComponent('slideTop')">
    Slide Top
  </button>
  <button class="buttonStyle" (click)="assignComponent('scrollSide')">
    Scroll Side
  </button>
  <button class="buttonStyle"  (click)="assignComponent('rotateSx')">
    Rotate Sx
  </button>
  <button class="buttonStyle"  (click)="assignComponent('rotateDx')">
    Rotate Dx
  </button>
  <button class="buttonStyle" (click)="assignComponent('leftUp')">
    Left Up
  </button>
  <button class="buttonStyle" (click)="assignComponent('rightUp')">
    Right Up
  </button>
  <button class="buttonStyle" (click)="assignComponent('flip')">
    Flip
  </button>
  <button class="buttonStyle"  (click)="assignComponent('fadeBack')">
    Fade Back
  </button>
  <button class="buttonStyle" (click)="assignComponent('scaleAndSlide')">
    Scale and slide
  </button>
  <button class="buttonStyle" (click)="assignComponent('surprise')">
    Surprise
  </button>
  <button class="buttonStyle" (click)="assignComponent('stdb')">
    Slide Title Down Blocks
  </button>
  <button class="buttonStyle"  (click)="assignComponent('rotate3d')">
    Rotate 3D
  </button>
</div>

</body>

