<body>
<div class="head" >
  <h1>Animations Tester</h1>
  <nav>
    <a id="home" routerLink="/home" routerLinkActive="active">Home</a>
    <a id="about" routerLink="/about" routerLinkActive="active">About</a>
    <a id="features" routerLink="/features" routerLinkActive="active">Features</a>
    <a id="pageExample" routerLink="/page-example" routerLinkActive="active">Page</a>

  </nav>
</div>

<div class = 'activeAnimation'>
  <p> Animation: {{animationString}} </p>
</div>

<div class="outlet">
<div *ngComponentOutlet="animationSelected">

</div>
</div>

<div class="animSelector">

  <div class="anim_box">
    <button class="animBoxTitle">Scale and Slide</button>
    <div class="dropContent">
      <button class="microButtonStyle" (click)="assignComponent('scaleAndSlideHighHigh')">
        High / High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('scaleAndSlideHighMedium')">
        High / Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('scaleAndSlideHighLow')">
        High / Low
      </button>
      <button class="microButtonStyle" (click)="assignComponent('scaleAndSlideMediumHigh')">
        Medium / High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('scaleAndSlideMediumMedium')">
        Medium / Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('scaleAndSlideMediumLow')">
        Medium / Low
      </button>
      <button class="microButtonStyle" (click)="assignComponent('scaleAndSlideLowHigh')">
        Low / High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('scaleAndSlideLowMedium')">
        Low / Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('scaleAndSlideLowLow')">
        Low / Low
      </button>
    </div>
  </div>

<div class="anim_box">
  <button class="animBoxTitle">Slide</button>
  <div class="dropContent">
  <button class="microButtonStyle" (click)="assignComponent('slideHighTop')">
    Top / High
  </button>
  <button class="microButtonStyle" (click)="assignComponent('slideHighBottom')">
    Bottom / High
  </button>
    <button class="microButtonStyle" (click)="assignComponent('slideMediumBottom')">
      Bottom / Medium
    </button>
    <button class="microButtonStyle" (click)="assignComponent('slideMediumTop')">
      Top / Medium
    </button>
    <button class="microButtonStyle" (click)="assignComponent('slideLowBottom')">
      Bottom / Low
    </button>
  <button class="microButtonStyle" (click)="assignComponent('slideLowTop')">
    Top / Low
  </button>
  </div>
</div>

  <div class="anim_box">
    <button class="animBoxTitle">Rotate</button>
    <div class="dropContent">
      <button class="microButtonStyle" (click)="assignComponent('rotateRightLow')">
        Right / Low
      </button>
      <button class="microButtonStyle" (click)="assignComponent('rotateRightMedium')">
        Right / Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('rotateRightHigh')">
        Right / High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('rotateLeftLow')">
        Left / Low
      </button>
      <button class="microButtonStyle" (click)="assignComponent('rotateLeftMedium')">
        Left / Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('rotateLeftHigh')">
        Left / High
      </button>
    </div>
  </div>

<div class="anim_box">
  <button class="animBoxTitle">Flip</button>
  <div class="dropContent">
    <button class="microButtonStyle" (click)="assignComponent('flipHigh')">
      High
    </button>
    <button class="microButtonStyle" (click)="assignComponent('flipMedium')">
      Medium
    </button>
    <button class="microButtonStyle" (click)="assignComponent('flipLow')">
      Low
    </button>
  </div>
</div>

  <div class="anim_box">
    <button class="animBoxTitle">Fade Back</button>
    <div class="dropContent">
      <button class="microButtonStyle" (click)="assignComponent('fadeBackHigh')">
        High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('fadeBackMedium')">
        Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('fadeBackLow')">
        Low
      </button>
    </div>
</div>

  <div class="anim_box">
    <button class="animBoxTitle">Rotate 3D</button>
    <div class="dropContent">
      <button class="microButtonStyle" (click)="assignComponent('rotate3dHigh')">
        High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('rotate3dMedium')">
        Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('rotate3dLow')">
        Low
      </button>
    </div>
  </div>

  <div class="anim_box">
    <button class="animBoxTitle">Scroll Side</button>
    <div class="dropContent">
      <button class="microButtonStyle" (click)="assignComponent('scrollSideHigh')">
        High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('scrollSideMedium')">
        Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('scrollSideLow')">
        Low
      </button>
    </div>
  </div>

  <div class="anim_box">
    <button class="animBoxTitle">Surprise</button>
    <div class="dropContent">
      <button class="microButtonStyle" (click)="assignComponent('surpriseHigh')">
        High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('surpriseMedium')">
        Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('surpriseLow')">
        Low
      </button>
    </div>
  </div>

  <div class="anim_box">
    <button class="animBoxTitle">Move Up</button>
    <div class="dropContent">
      <button class="microButtonStyle" (click)="assignComponent('moveUpLeftHigh')">
        Left / High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('moveUpRightHigh')">
        Right / High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('moveUpLeftMedium')">
        Left / Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('moveUpRightMedium')">
        Right / Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('moveUpLeftLow')">
        Left / Low
      </button>
      <button class="microButtonStyle" (click)="assignComponent('moveUpRightLow')">
        Right / Low
      </button>
    </div>
  </div>

  <div class="anim_box">
    <button class="animBoxTitle">Slide T down B</button>
    <div class="dropContent">
      <button class="microButtonStyle" (click)="assignComponent('stdbHighHigh')">
        High / High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('stdbMediumHigh')">
        Medium / High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('stdbLowHigh')">
        Low / High
      </button>
      <button class="microButtonStyle" (click)="assignComponent('stdbHighMedium')">
        High / Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('stdbMediumMedium')">
        Medium / Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('stdbLowMedium')">
        Low / Medium
      </button>
      <button class="microButtonStyle" (click)="assignComponent('stdbHighLow')">
        High / Low
      </button>
      <button class="microButtonStyle" (click)="assignComponent('stdbMediumLow')">
        Medium / Low
      </button>
      <button class="microButtonStyle" (click)="assignComponent('stdbLowLow')">
        Low / Low
      </button>
    </div>
  </div>

  <div class="anim_box">
    <button class="animBoxTitle">Composite</button>
    <div class="dropContent">
      <button class="microButtonStyle" (click)="assignComponent('composer1')">
        Slide / fadeBack
      </button>
      <button class="microButtonStyle" (click)="assignComponent('composer2')">
        Rotate / Move up
      </button>
      <button class="microButtonStyle" (click)="assignComponent('composer3')">
        Rotate / Slide
      </button>
      <button class="microButtonStyle" (click)="assignComponent('composer4')">
        STDB / Slide
      </button>
      <button class="microButtonStyle" (click)="assignComponent('composer6')">
        Rotate / STDB
      </button>
      <button class="microButtonStyle" (click)="assignComponent('composer7')">
        Flip / Surprise
      </button>
      <button class="microButtonStyle" (click)="assignComponent('composer5')">
        Fade Back / Flip
      </button>

    </div>
  </div>


</div>


</body>

