/* You can add global styles to this file, and also import other style files */
.titolo{

  font-size: 2em;
  color: #039be5;
  background-color: #dddddd;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 4px;
  padding: 5px;
}


.testo{
  font-size: 1.2em;
  color: #039be5;
  background-color: #dddddd;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 4px;
  padding: 10px;
  height: 150px;
  text-align: justify;

}


@media screen and (max-height: 800px) {
  .output{
    min-height: 520px;
  }
}

@media screen and (min-height: 800px) {
  .output{
    min-height: 730px;
  }
}
